<% layout('layouts/boilerplate') %>
    <body>
        <h1>Listing Details</h1>
        <p><strong>Title:</strong> <%= listing.title %></p>
        <p><strong>Description:</strong> <%= listing.description %></p>
        <p><strong>Price:</strong> $<%= listing.price.toLocaleString("en-IN") %></p>
        <p><strong>Location:</strong> <%= listing.location %></p>
        <p><strong>Country:</strong> <%= listing.country %></p>
        <a href="/listings/<%= listing._id %>/edit">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>/delete?_method=DELETE">
            <button type="submit">Delete</button>
        </form>


    </body>   